/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

#header{
    text-align: center;
    margin-bottom: 30px;
}

body{
    height: 100vh;
    background-image: linear-gradient(to top right, #6ABBD5, #2993CF, #4D67C5, #652CDE);
}

#register-container{
    background-color: rgba(225, 225, 225, 50%);

    width: min(calc(100vw - 50px), 343px);
    margin: auto;
    margin-top: 7vh;
    padding-top: 10px;
    padding-bottom: 25px;
    
    border: none;
    border-radius: 1em;
}

input{
    width: 80%;
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 4%;
    padding-left: 3%;

    border: none;
    border-radius: 1em;
    outline: none;
}

input::placeholder{
    color: rgba(0, 0, 0, 30%);
}

#sbmt-btn{
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 80%;
    padding: 10px;

    border: none;
    border-radius: 2em;

    background-color: #4B6EEB;
    color: white;
    font-size: larger;
    font-weight: bold;
}

#sbmt-btn:hover{
    background-color: #375AD7;
}